<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>상품 목록</title>
	<meta charset="UTF-8">
	</head>
	<body>
		<table>
			<tr>
				<th>제품 번호</th>
				<th>이미지</th>
				<th>제품명</th>
				<th>수량</th>
				<th></th>
			</tr>
			<tr th:each="product : ${products}">
				<td th:text="${product.productId}"></td>
				<td><img th:src="@{${product.productImage}}" alt="-" /></td>
				<td>
					<a th:href="@{/product/read/{productId}(productId=${product.productId})}" th:text="${product.productName}"></a>
				</td>
				<td th:text="${product.stockCount}"></td>
				<td>
					<a th:href="@{/product/edit/{productId}(productId=${product.productId})}"><input type="button" value="수정"/></a>
				</td>
				<td>		
					<form method="POST" th:action="@{/product/delete/{productId}(productId=*{productId})}">
						<input type="hidden" th:name="productId" th:value="${product.productId}" />
						<input type="submit" value="삭제" />
					</form>	
				</td>	
			</tr>
	  </table>
	  <a th:href="@{/product/insert}"><input type="button" value="신규 상품목록 추가"/></a>		
	</body>
</html>