<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>stock Page</title>
</head>
<body>
<h1>재고 관리</h1>
</body>
<div class="list_container">
	<div class="list main" style="border-collapse: collapse; width:1020px;">
		<div style="display: table-cell; border:1px solid; width:50%;">하이</div>
		<div style="display: table-cell; border:1px solid;">하이</div>
		<div style="display: table-cell; border:1px solid;">하이</div>
		<div style="display: table-cell; border:1px solid;">하이</div>
	</div>
	
</div>



</html>