<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>stock Page</title>
<style type="text/css">
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	p {
		display: inline-block;
	}
	
	input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: inner-spin-button;
		opacity: 1;
	}
</style>

</head>
<body>
	<h1>재고 관리</h1>

	<div align="right" style="width: 1020px;">
	<input type="text" ><button>검색</button>
	</div>
	
	<div class="list_container">
		<table style="width: 1020px; border: solid 1px; border-collapse: collapse; text-align: center;">
			<tr style="border: solid 1px;">
				<td style="border: solid 1px;"></td>
				<td style="border: solid 1px;"><p>제품번호</p></td>
				<td style="border: solid 1px;"><p>제품명</p></td>
				<td style="border: solid 1px;"><p>가격</p></td>
				<td style="border: solid 1px;"><p>수량</p></td>
				<td style="border: solid 1px;"><p>안전수량</p></td>
				<td style="border: solid 1px;"><p>거래처 코드</p></td>
			</tr>
			<tr th:each="stockList : ${stockList}">
				
					<td style="border: solid 1px;"><p th:text="${stockListStat.count}" ></p></td>
					<td style="border: solid 1px;"><p th:text="${stockList.productId}" ></p></td>
					<td style="border: solid 1px;"><p th:text="${stockList.productName}" ></p></td>
					<td style="border: solid 1px;"><p th:text="${stockList.cost}" ></p></td>
					<td style="border: solid 1px;">
						<form th:action="@{/incoming/insertForm}" method="post">
							<p th:text="${stockList.stockCount}" ></p>
							<input type="hidden" th:name="productId" th:value="${stockList.productId}">
							<input type="hidden" th:name="productName" th:value="${stockList.productName}">
							<input type="hidden" th:name="cost" th:value="${stockList.cost}">
							<input type="hidden" th:name="maker" th:value="${stockList.maker.companyId}">
							<input type="submit" value="입고요청" style="width: 80px;">
						</form>
					</td>
					<td style="border: solid 1px;">
						<form th:action="@{/stock/update}" method="post">
							<input type="hidden" th:name="productId" th:value="${stockList.productId}">
							<input type="number" name="safetyStock" th:value="${stockList.safetyStock}" min=0 step=1 style="text-align:center; width: 50px;">
							<input type="submit" value="수정" style="width: 40px;">
						</form>
					</td>
					<td style="border: solid 1px;"><p th:text="${stockList.maker.companyId}" ></p></td>	
			</tr>
			<tr th:if="!${stockList}">
				<td colspan="7" ><p>저장된 데이터가 없습니다.</p></td>
			</tr>
		</table>
	</div>


</body>
</html>