<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Incoming Page</title>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	p {
		display: inline-block;
	}
</style>
</head>
<body>
	<h1>입고 관리</h1>

	<div align="right" style="width: 1020px;">
	<input type="text" ><button>검색</button>
	</div>

	<div class="list_container">
		<table style="width: 1020px; border: solid 1px; border-collapse: collapse; text-align: center;">
			<tr style="border: solid 1px;">
				<td style="border: solid 1px;"></td>
				<td style="border: solid 1px;"><p>주문 상태</p></td>
				<td style="border: solid 1px;"><p>입고번호</p></td>
				<td style="border: solid 1px;"><p>입고날짜</p></td>
				<td style="border: solid 1px;"><p>제품번호</p></td>
				<td style="border: solid 1px;"><p>수량</p></td>
				<td style="border: solid 1px;"><p>원가</p></td>
				<td style="border: solid 1px;"><p>총 가격</p></td>
				<td style="border: solid 1px;"><p>거래처 코드</p></td>
			</tr>
			<tr th:each="incomingList : ${incomingList}">
				<td style="border: solid 1px;"><p th:text="${incomingListStat.count}" ></p></td>
				<td style="border: solid 1px;">
					<p th:if="${incomingList.orderStatus} == '0'" th:text="입고대기" />
					<p th:if="${incomingList.orderStatus} == '1'" th:text="입고완료" />
				</td>
				<td style="border: solid 1px;"><p th:text="${incomingList.incomingId}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.updatedAt}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.product.productId}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.incomingCount}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.product.cost}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.total}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${incomingList.product.maker.companyId}" ></p></td>
			</tr>
			<tr th:if="!${incomingList}">
				<td colspan="9" ><p>저장된 데이터가 없습니다.</p></td>
			</tr>
		</table>
	</div>

</body>
</html>