<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ongoing Page</title>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	p {
		display: inline-block;
	}
</style>
</head>
<body>
	<h1>출고 관리</h1>

	<div align="right" style="width: 1020px;">
	<input type="text" ><button>검색</button>
	</div>

	<div class="list_container">
		<table style="width: 1020px; border: solid 1px; border-collapse: collapse; text-align: center;">
			<tr style="border: solid 1px;">
				<td style="border: solid 1px;"></td>
				<td style="border: solid 1px;"><p>출고번호</p></td>
				<td style="border: solid 1px;"><p>출고날짜</p></td>
				<td style="border: solid 1px;"><p>송장번호</p></td>
				<td style="border: solid 1px;"><p>주문번호</p></td>
				<td style="border: solid 1px;"><p>제품번호</p></td>
				<td style="border: solid 1px;"><p>수량</p></td>
				<td style="border: solid 1px;"><p>택배사</p></td>
			</tr>
			<tr th:each="ongoingList : ${ongoingList}">
				<td style="border: solid 1px;"><p th:text="${ongoingListStat.count}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.ongoingId}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.createdAt}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.invc}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.order.orderId}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.order.product.productId}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.order.count}" ></p></td>
				<td style="border: solid 1px;"><p th:text="${ongoingList.delever.companyId}" ></p></td>
			</tr>
			<tr th:if="!${ongoingList}">
				<td colspan="8" ><p>저장된 데이터가 없습니다.</p></td>
			</tr>
		</table>
		
	</div>

</body>
</html>