<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>판매자 목록</title>
	<meta charset="UTF-8">
	</head>
	<body>
		<table>
			<tr>
				<th>판매처코드</th>
				<th>판매처명</th>
				<th>이메일</th>
				<th>연락처</th>
				<th></th>
			</tr>
			<tr th:each="seller : ${sellers}">
				<td th:text="${seller.companyId}"></td>
				<td th:text="${seller.companyName}"></td>
				<td th:text="${seller.companyEmail}"></td>
				<td th:text="${seller.companyContact}"></td>
				<td>
					<a th:href="@{/seller/edit/{companyId}(companyId=${seller.companyId})}"><input type="button" value="수정"/></a>
				</td>
				<td>		
					<form method="POST" th:action="@{/seller/delete/{companyId}(companyId=*{companyId})}">
						<input type="hidden" th:name="companyId" th:value="${seller.companyId}" />
						<input type="submit" value="삭제" />
					</form>	
				</td>	
			</tr>
	  </table>
<!-- 	  <a th:href="@{/seller/insert}"><input type="button" value="신규 판매처 추가"/></a>		 -->
	</body>
</html>